{
  "project_info": {
    "project_number": "144539675688",
    "project_id": "my-project-f451a",
    "storage_bucket": "my-project-f451a.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:144539675688:android:5d5f948be9e6c84cf0d91d",
        "android_client_info": {
          "package_name": "com.example.flutter_lessons"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_YOUR_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
